/* Inline <style> embed #7 from www.coframe.com (wrapper: .code-embed) */
.hero__bg-elements {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		-webkit-mask-image: radial-gradient(circle at var(--x, 50%) var(--y, 50%), #fff 0px, transparent 500px);
		mask-image: radial-gradient(circle at var(--x, 50%) var(--y, 50%), #fff 0px, transparent 500px);
		transition: -webkit-mask-image 0.5s var(--easing-cubic-bezier),
			mask-image 0.5s var(--easing-cubic-bezier),
			opacity 0.5s var(--easing-cubic-bezier);
		pointer-events: none;
	}
