/* Inline <style> block 6 from <body>; cascades after all head styles. */

	.swiper-slide.cc-case-studies {
		transition: transform 400ms var(--easing-cubic-bezier) !important,
			opacity 400ms var(--easing-cubic-bezier) !important,
			height 400ms var(--easing-cubic-bezier) !important,
			background-color 400ms var(--easing-cubic-bezier) !important;
	}
  
  .swiper-slide.cc-case-studies *:not(.case-study-card__bg-image) {
  	opacity: 0;
  }

	.case-study-card-container {
		transition: opacity 400ms var(--easing-cubic-bezier) !important;
	}
